body {
    font-family: Arial, sans-serif;
    background-color: rgb(54, 54, 54);
    margin: 0;
    padding: 20px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form-container, .detail-container {
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 10px black;
}

input[type="text"], input[type="email"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

#judul {
    text-align: center;
}
